@model IEnumerable<CrudSimple_Editorials.Models.EditoralModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<h1 class="h1">Index</h1>

<div class="table-wrapper">
    <h1>Index</h1>

<p>
        <a asp-action="Create" class="btn btn-primary btn-lg btn-block">Create New</a>
</p>
    <table class="fl-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre Editorial</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelData => album.CodEditorial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelData => album.NombreEditorial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelData => album.LatitudUbicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelData => album.LongitudUbicacion)
                    </td>
                    <td>
                        @Html.ActionLink("E", "Edit", new { id = album.CodEditorial})
                          @Html.ActionLink("X", "Delete", new { id = album.CodEditorial})
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>


